#wrapper {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  text-align: center;
}

#dialog {
  max-width: 490px;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-160%);
  display: block;
  text-align: center;
  border-radius: 6px;
  border: solid 1px #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff !important;
  /* padding: 20px; */
}

.button {
  border: none;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.image {
  width: 200;
  height: 150px;
}

.text {
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
}

.imageBackground {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('https://vcdn1-vnexpress.vnecdn.net/2024/04/24/img-1208-1709736919-1709740396-8496-7315-1713977926.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=LEHOOyzNrVePpj5rlA15HA');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}


.loginform {
  max-width: 500px;
}

.loginformforgot {
  float: right;
}

.antcolrtl .loginformremember {
  float: left;
}

.loginformbutton {
  width: 100%;
}

.link-login {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}

.link-login .link {
  color: black;
}

.link-login .link:hover {
  text-decoration: underline;
  color: green;
}

.ant-btn {
  background-image: none !important;
  background-color: #3498db !important;
}

.ant-btn:hover {
  background-color: #2980b9 !important;
}

